<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TodoWebApp.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 justify-content-center flex-column">
            <a class="fs-1 text-decoration-none text-black" asp-area="" asp-controller="Home"
                asp-action="Index">TODO</a>
            <div class="flex-column">
                <a class="link-secondary me-2" style="cursor: pointer;" href="/todo/ssr">SSR</a>
                <a class="link-secondary" style="cursor: pointer;" href="/todo/csr">CSR</a>
            </div>
        </nav>
    </header>

    <div class="container w-50">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
