html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@font-face {
  font-family: "WorkSans";
  src: url('../fonts/WorkSans.ttf'); 
}

html {
  position: relative;
  min-height: 100%;
  
}

body {
  margin-bottom: 60px;
  width: 100%;
  font-family: "WorkSans";
}
.render-body {
  width: 100%;
}

.fetch-notif {
  /*visibility: hidden;*/
  opacity: 0;

  position: fixed;
  font-size: 1.25rem;
  right: 50px;
  bottom: 50px;

  background-color: white;
  height: max-content;
  width: max-content;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.todo-form {
   flex-direction: column;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .render-body {
    width: 50%;
  }

  .todo-form {
    flex-direction: row;
  }
}

.slide-in-bottom {
    animation: slide-in-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-in-bottom {
    0% {
        bottom: -20px;
        opacity: 0;
    }

    100% {
        bottom: 50px;
        opacity: 1;
    }
}
.slide-out-bottom {
    animation: slide-out-bottom 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes slide-out-bottom {
    0% {
        bottom: 50px;
        opacity: 1;
    }

    100% {
        bottom: -20px;
        opacity: 0;
    }
}
